
    /* colores */
    $color-primario: #34eb52;
    $color-secundario: #824BEB;
    $color-alternativo:  #51426B;
    $color-alternativo2: #3C226B;
    $color-alternativo3: #663BB8;
    $color-alternativo4: #B394EE;
    $color-texto:  #000000;
    /* espaciado */
    $espaciado-grande: 6rem;
    $espaciado-medio: 2.4rem;
    $espaciado-chico: 2rem;
    $espaciado-muy-chico: 1rem;
    /* fuestes */
    $funete-principal:'Lato', sans-serif;
    $fuente-titulo: Arial;
    /* tamaño de fuentes */
    $texto-muy-grande: 5.2rem;
    $texto-grande: 3.2rem;
    $texto-medio: 2.2rem;
    $texto-base: 1.6rem;
    $texto-chico: 1.4rem;
